<footer>
    <p>&copy; 2024 Datt Bhaskarbhai Patel</p>
    <a href="https://github.com/DattBPatel4">GitHub</a>
    <a href="https://www.linkedin.com/in/datt-patel-a6a683254/">LinkedIn</a>
</footer>
